<section class="documentsPage">
	<div class="search">
		<div class="blueBorder">
			<div class="top">
				<h1><span>Documentos</span></h1>
				<div class="contrl-group contrl-lv1">
					<label for="docName">Buscar por Nombre:</label>
		        	<input ng-model="query" type="text" placeholder="Nombre del Documento" name="docName">
				</div>
		        <div class="or-spacer">
				  <div class="or-mask"></div>
				</div>
			</div>
			<div class="bottom">
				<ul class="docList">
			        <li ng-animate="animate" class="docu" ng-repeat="item in documents | filter: query | filter: showInsti | filter: showType | orderBy: docOrder">
			            <h2>{{item.title}}</h2>
			            <p>{{item.field_descripcion}}</p>
			            <button ng-click="downloadDocument(item.field_archivos_de_prueba, item.nid)">Ver Documento</button>
			        </li>
			    </ul>
			</div>
		</div>
    </div> 
</section>